/* Login page*/
div#main-body {
    /*background: linear-gradient(#FFFFFF, #F2F6F9) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border-radius: 6px;
    /*box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), 0 -1px 2px rgba(14, 41, 57, 0.15) inset;*/
    padding-bottom: 20px;
    margin-bottom: 40px;
    border: 1px solid #E0E2E3;
    background-color: #FDFEFE;
}
div#head-body{
    font-weight: 800;
    margin: 0 auto;
    padding: 15px 0;

}
div#head-body h1{
    font-size: 34px;
    font-weight: 800;
}
.brand-text{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    color: #fafafa;
    margin:0;
    opacity: 0.7;
}
.brand-text>span{
    color: #e74c3c;
}
#login-help {
    border: 1px solid rgba(14, 41, 57, 0.1);
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #455B67;
    display: block;
    padding: 15px;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    font-weight: 400;
    font-size: 13px; 
}
#login-help a, #login-help label{
    color: #3498db;
}
.pass-help {
    font-size: 13px; 
    color: #455B67;
}

/* */

.login-container{
    position: relative;
    max-width: 450px;
    margin: 60px auto;
    padding: 20px 30px 30px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}

.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}
.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}
.form-box input{
    width: 100%;
    padding: 10px;
    height:40px;
    border: 1px solid #ccc;
    background: #fff;
    transition:0.2s ease-in-out;
    font-size: 13px;
    color:#333;

}

.login-error-top{
    border-style: solid !important;
    border-color: red !important;
    color: #e74c3c !important;
}
.login-error-bottom{
    border-style: solid !important;
    border-color: #e74c3c !important;
    color: #e74c3c !important;
}
.form-box input:focus{
    outline: 0;
    border-top: 1px !important;
    border-style: solid !important;
    border-color: #3498db !important;
    color:#333;
    
}
.form-box .login-top:focus{
    z-index: 100;
    position: relative;
}
/*.form-box .login-bottom:focus{

    top: -1px !important;

}*/
.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
}
.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    top: -1px !important;
    position: relative;
}
.form-box button.login{
    margin-top:15px;
    padding: 8px 25px;
    font-size: 13px;
}
.form-box a{
    margin-top:15px;
    float: right;
}
#login-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}
.navbar-brand-center {
    position: absolute;
    width: 100%;
}
.navbar-brand-center > .logo {
    width: 4.75em;
    height: 4.75em;
    margin: 0 auto;
}