body, html {
    height: 100%;
    width: 100%;
    background-color:  #FAFAFA;
}
body {
   /* font-weight: 700;*/
    /*font-family:'Open Sans', sans-serif;*/
}
h1, h2, h3, h4, h5, h6 {
    /*font-family:'Open Sans Condensed', sans-serif;*/
    font-weight: normal;
}
/** Flat UI Overrides **/
#page-login{
    background-color: #34495e;
    color:#f4f4f4;
}
 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(116, 119, 134, 0.5);
}
.navbar-default {
    background-color: rgba(52, 73, 94,0.9);
}
.navbar-default .navbar-nav > li > a {
    color: #f4f5f0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #47c9b0;
}
.navbar-default .navbar-toggle:before {
    color: #f4f5f0;
}
.navbar-toggle:before {
    color: #47c9b0;
}
/** / Flat UI Overrides **/
 .btn-primary-outline {
    background-color: transparent;
    border: solid 2px #1ABC9C;
}
.logo {
    background-size: cover;
    background-position: center center;
}
.logo-login{
    background-position: center center;
    background-size: cover;
    height: 130px;
    margin: -10px auto;
    position: relative;
    width: 150px;
    z-index: 5;
}
.navbar-brand > .logo {
    width: 2.75em;
    height: 2.75em;
    margin-top: -0.75em;
}
a.nav-btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid;
    margin-left: 1em;
    position: relative;
    top: 5px;
}
.navbar-right > li {
    float: right;
}
.footer-brand {
    width: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
}
.footer-brand > .logo {
    width: 10em;
    height: 10em;
    margin: -8.25em auto;
}
.lead {
    font-weight: 400;
}
.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 150px;
    color: #f8f8f8;
    background-size: cover;
    text-align: center;
    background-position: right top;
}
.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: left;
}
.intro-divider {
    width: 400px;
    border-bottom: 1px solid rgba(244, 245, 240, 0.5);
    border-top: 1px solid rgba(54, 59, 72, 1);
    margin-left: 0em;
}
hr.carved {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}
.intro-message > h1, .intro-message > h3, .intro-message p, .intro-message strong {
    color: #FFF;
    /*color: #363b48;*/
    /*text-shadow: 0px 1px 0px rgba(244, 245, 240, 0.6);*/
}
.intro-message > h1 {
    font-size: 34px;
}
.intro-message > h3 {
    font-size: 20px;
    margin-top: -0.25em;
}
.intro-message strong {
    color: #1e4477;
}
.section-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50%;
}
footer h1 {
    color: #47c9b0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}
footer p {
    color: #a09f9c;
}
@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}
.network-name {
    text-transform: uppercase;
    font-weight: 700;
}
.content-section-a {
    background-color: #f8f8f8;
    padding: 50px 0;
}
.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 0;
}
.section-heading {
    margin-bottom: 30px;
}
.section-heading-spacer {
    border-top: 3px solid #e7e7e7;
    width: 200px;
    float: left;
}
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}
.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}
.banner ul {
    margin-bottom: 0;
}
.banner-social-buttons {
    float: right;
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .navbar-brand {
        position: absolute;
        z-index: 100;
        width: 102%;
    }
    .navbar-brand > .logo {
        margin: -0.75em auto -0.75em auto;
    }
    .footer-brand {
        display: none;
    }
    .intro-message > h1 {
        font-size: 40px;
    }
    .intro-message > h3 {
        font-size: 20px;
        margin-top: -0.25em;
    }
    .section-img {
        padding: 35%;
    }
    .nav > li {
        margin-left: 0.5em;
    }
    .nav > li:nth-child(2) {
        margin-top: 3em;
    }
    .nav > li.nav-btn {
        position: relative;
        right: 0em;
        width: 25%;
        margin: 1em 0em 1em 1em;
    }
}
footer {
    background-color: #34495E;
    padding: 50px 0;
}
p.copyright {
    margin: 15px 0 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .navbar > .container {
        width: 100%;
        padding-left: 0.5em;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 13px;
    }
}
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        font-size: 2em;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.navbar {
    /*text-transform: uppercase;*/
}
.navbar a:focus {
    outline: 0;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar-default, .navbar-inverse {
    border: 0;
}
.navbar-nav > li > a {
    padding: 0.5em;
    font-weight: normal;
    font-size: 13px;
}
/* Cart*/
 .cart-totals {
    height: 100%;
    width: 100%;
}
.totals {
    border-left: 1px solid #DDDDDD;
    vertical-align: top;
    width: 28%;
}
.panel-title {
    display: inline;
    font-weight: bold;
}
.checkbox.pull-right {
    margin: 0;
}
.pl-ziro {
    padding-left: 0px;
}
/* Login page*/
div#main-body {
    /*background: linear-gradient(#FFFFFF, #F2F6F9) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border-radius: 6px;
    /*box-shadow: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 5px rgba(14, 41, 57, 0.44), 0 -1px 2px rgba(14, 41, 57, 0.15) inset;*/
    padding-bottom: 20px;
    margin-bottom: 40px;
    border: 1px solid #E0E2E3;
    background-color: #FDFEFE;
}
div#head-body{
    font-weight: 800;
    margin: 0 auto;
    padding: 15px 0;

}
div#head-body h1{
    font-size: 34px;
    font-weight: 800;
}

#login-help {
    border: 1px solid rgba(14, 41, 57, 0.1);
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #455B67;
    display: block;
    padding: 15px;
}
#login-help a, #login-help label {
    font-size: 13px; 
    color: #455B67;
}
