body, html {
    height: 100%;
    width: 100%;
}
body {
    font-weight: 700;
    font-family:'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans Condensed', sans-serif;
    font-weight: 700;
}
/** Flat UI Overrides **/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: rgba(116, 119, 134, 0.5);
}
 .navbar-default {
    background-color: #34495E;
}
.navbar-default .navbar-nav > li > a {
    color: #f4f5f0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #47c9b0;
}
.navbar-default .navbar-toggle:before {
    color: #f4f5f0;
}
.navbar-toggle:before {
    color: #47c9b0;
}
/** / Flat UI Overrides **/
.btn-primary-outline{
    background-color: transparent;
    border: solid 2px #1ABC9C;
}
 .logo {
    background-size: cover;
    background-position: center center;
}
.navbar-brand > .logo {
    width: 4em;
    height: 4em;
    margin-top: -0.75em;
}
.nav > li.nav-btn {
	position: absolute;
	right: 1em;
}
.footer-brand {
    width: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
}
.footer-brand > .logo {
    width: 10em;
    height: 10em;
    margin: -8.25em auto;
}
.lead {
    font-weight: 400;
}
.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 150px;
    color: #f8f8f8;
    background-size: cover;
    text-align: center;
    background-position: right top;
}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
    text-align: left;
}
.intro-divider {
    width: 400px;
    border-bottom: 1px solid rgba(244, 245, 240, 0.5);
    border-top: 1px solid rgba(54, 59, 72, 1);
    margin-left: 0em;
}
.intro-message > h1, .intro-message > h3, .intro-message p, .intro-message strong {
    color: #363b48;
    text-shadow: 0px 1px 0px rgba(244, 245, 240, 0.6);
}
.intro-message > h1 {
    font-size: 50px;
}
.intro-message > h3 {
    font-size: 30px;
    margin-top: -0.25em;
}
.intro-message strong {
    color: #1e4477;
}
.section-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 50%;
}
footer h1 {
	color: #47c9b0;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}
footer p {
	color: #a09f9c;
}
@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message > h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}
.network-name {
    text-transform: uppercase;
    font-weight: 700;
}
.content-section-a {
    background-color: #f8f8f8;
    padding: 50px 0;
}
.content-section-b {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 50px 0;
}
.section-heading {
    margin-bottom: 30px;
}
.section-heading-spacer {
    border-top: 3px solid #e7e7e7;
    width: 200px;
    float: left;
}
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}
.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}
.banner ul {
    margin-bottom: 0;
}
.banner-social-buttons {
    float: right;
    margin-top: 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
    .navbar-brand {
        position: absolute;
        z-index: 100;
        width: 102%;
    }
    .navbar-brand > .logo {
        margin: -0.75em auto -0.75em auto;
    }
    .footer-brand {
    	display: none;
    }
    .intro-message > h1 {
        font-size: 40px;
    }
    .intro-message > h3 {
        font-size: 20px;
        margin-top: -0.25em;
    }
    .section-img {
    	padding: 35%;
    }
    .nav > li {
    	margin-left: 0.5em;
    }
    .nav > li:nth-child(2) {
    	margin-top: 3em;
    }
    .nav > li.nav-btn {
    	position: relative;
    	right: 0em;
    	width: 25%;
    	margin: 1em 0em 1em 1em;
    }
}
footer {
    background-color: #34495E;
    padding: 50px 0;
}
p.copyright {
    margin: 15px 0 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
    .navbar > .container {
        width: 100%;
        padding-left: 0.5em;
    }
    .navbar-default .navbar-nav > li > a {
    	font-size: 13px;
    }
}
@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-fixed-top .navbar-brand {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        font-size: 2em;
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }
    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.navbar {
    text-transform: uppercase;
    font-weight: 700;
}
.navbar a:focus {
    outline: 0;
}
.navbar .navbar-nav li a:focus {
    outline: 0;
}
.navbar-default, .navbar-inverse {
    border: 0;
}
.navbar-nav > li > a {
    padding: 0.5em;
}

/* Cart*/
.cart-totals {
    height: 100%;
    width: 100%;
}
.totals {
    border-left: 1px solid #DDDDDD;
    vertical-align: top;
    width: 28%;
}