html {
    min-height: 100%;
    position: relative;
    
}
body {
    margin-bottom: 60px;
    background-color:  #FAFAFA;
}
.footer {
    background-color: #363b48;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}
body > .container {
    padding: 125px 15px 100px;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
.datepicker{z-index:1151 !important;}
.datepicker.dropdown-menu {
  visibility: visible;
  opacity: 1;
  width: auto;
}
/*Typography*/
p {
    font-size: 13px;
    line-height: 18px;
}
h3{
    margin-top: 0;
    color: #162633;
    font-weight: 300;
    font-size: 24px;
}
hr{
    margin-top: 10px;
    border-color: #cfd4d7;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    position: relative;
}
/** Flat Ui resets **/
.modal-title{
    font-size: 18px;

}
.modal-backdrop.in{
    opacity: 0.3;
}
.modal-header{
    padding:10px 20px 10px 24px;
}
.modal-content{
    border-radius: 6px;
    border: 1px solid rgba(234, 238, 250, 0.6);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
.modal-footer{
    background-color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 1px 0 #fff inset;
    display: block;
    margin-bottom: 0;
    padding: 10px 15px;
    text-align: center;
}
.push {
height: 6em;
}
.form-control {
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    color: #333;
    font-weight: normal;
    font-size: 13px;
}
.form-group{
    margin-bottom: 10px;
}
label {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
}
.btn-select{
    background-color: #fff;
    border: 1px solid #bdc3c7;
    font-size: 13px;
    color: #b2bcc5;
}
.btn-select .caret{
    border-bottom-color: #bdc3c7;
    border-top-color: #bdc3c7;
}
.btn-select:focus, .btn-select:hover{
    color: #162633;
}
.btn-group.open .btn-select {
    box-shadow: none;
    color: rgba(0, 0, 0, 0.75);
}
/** Widgets **/
.widget {
    border: 5px solid #eaecf1;
    border-radius: 5px;
}
.widget .btn-group.mbl, .widget .form-group {
    margin-bottom: 0px !important;
}
/*.widget button.btn {
    padding:10px 0px 10px 5px;
}*/
.space-top-1 {
    margin-top:1em;
}
.space-top-2 {
    margin-top:2em;
}
.space-top-3 {
    margin-top:3em;
}
.space-top-4 {
    margin-top:4em;
}
.space-bottom-1 {
    margin-bottom:1em;
}
.space-bottom-2 {
    margin-bottom:2em;
}
.space-bottom-3 {
    margin-bottom:3em;
}
.space-bottom-4 {
    margin-bottom:4em;
}
.bg-color.default {
    background-color: #eaecf1;
}
.bg-color h1, .bg-color h2, .bg-color h3, .bg-color h4, .bg-color h5, .bg-color h6 {
    margin:0px;
    line-height:1.4em;
}
.box-padding {
    padding:0.5em;
}
.box-padding .table{
    font-size: 13px;
}
.bg-color.white {
    background-color:#fff;
    border-bottom:5px solid #eaecf1;
}
.widget-title {
    padding: 0.8em;
    font-size: 14px;
}
.widget-title strong {
    border: 2px solid #363b48;
    border-radius: 100em;
    padding: 0.125em 0.4em;
    font-size: 14px;
    vertical-align: top;
    margin-right: 5px;
}
body .product-actions {
    background: #eaecf1;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
    margin-bottom: 2em;
}
.pricing > h2 {
    margin-top: 15px;
}
.col-event, .col-price, .col-desc  {
    margin-top: 2em;
}
.col-price h4{
    text-transform: uppercase;
    font-size: 15px;
    color: #e74c3c;
}
.maintitle {
    padding: 1em 0px 2em 0px;
    position: relative;
    text-align: center;
    margin-bottom: -2em;
    margin-top: 5em;
    z-index: 1;
}
.maintitle-receipt{
    padding-top: 3em;
}
.receipt-icon i{
   font-size: 40px;
}
.maintitle h4 {
    background-color: #fafafa !important;
    font-size: 24px;
    padding: 0px 30px;
    display: inline;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -o-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white;
}
.maintitle-receipt h4 {
    background-color: white !important;
    font-size: 24px;
    padding: 0px 30px;
    -webkit-text-shadow: 0px 1px 0px white;
    -moz-text-shadow: 0px 1px 0px white;
    -o-text-shadow: 0px 1px 0px white;
    text-shadow: 0px 1px 0px white;
}
.maintitle .border {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 0px;
    right: 0px;
    height: 4px;
    border-bottom: 4px double #cecdc9;
    z-index: -1;
}
.relative {
    position: relative;
}
.cart {
    font-size: 2em;
}
.table-bordered {
    margin-bottom: 0em;
}
/** Flat UI Overrides **/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgba(116, 119, 134, 0.5);
}
.navbar-default {
    background-color: #363B48;
}
.navbar-default .navbar-nav > li > a {
    color: #f4f5f0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #47c9b0;
}
.navbar-default .navbar-toggle:before {
    color: #f4f5f0;
}
.navbar-toggle:before {
    color: #47c9b0;
}
.navbar-brand-center {
    position: absolute;
    width: 97.5%;
}
.navbar-brand > .logo {
    width: 2.75em;
    height: 2.75em;
    margin-top: -0.75em;
}
.navbar-right > li {
    float: right;
}
.navbar-brand-center > .logo {
    height: 5.75em;
    margin: 0.4em auto;
    width: 5.75em;
    background-size: contain;
    background-repeat: no-repeat;
}
.navbar-nav > li > a {
    padding: 0.5em 1.5em;
}
a.nav-btn {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid;
    margin-left: 1em;
    position: relative;
    top: 5px;
    margin-top: 0.5em;
}

.fa-spin{
    margin-right: 5px;
}
.sum-total{
    font-size: 18px;
    font-weight: 800;
}
.receipt-bg{
    background-color: #fff;
    bottom: 0;
    top: 0;
}
.receipt-body{
    background-color: #EAEDF2;
}
.receipt-app{
}

/*content wrap*/
.content-wrap{
    padding-top:60px;
}

/** sign up page **/
.signup-icon{
    width: 130px;
    border: 2px solid #16a085;
    height: 130px;
    margin-bottom: 20px;
    margin: 10px auto;
    display: table;
    border-radius: 100px;
}
.middle-icon{
    display: table-cell;
    vertical-align: middle;
    font-size: 55px;
}
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.wizard{
}
#rootwizard .pagination{
    height: 100px;
}
#rootwizard{
    margin: 20px 0;
}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; list-style: none;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 15px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;   transition-delay: 0.45s;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard-stepnum{
    display: block;
}
.tab-content{
 border: none;
 padding: 0;
}
.roster-player{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #1E4477;
    color: #FFF;
}
/*** image upload crop ***/

#upimage {
    width: 200px;
    height: 200px;
    position:relative; /* or fixed or absolute */
    background: #ccc url("/images/default-avatar.png") no-repeat center;
    background-size: 200px 200px;
    margin: 0 auto;
}


#upimageplayer, #editimageplayer,#upimageclub{
    width: 180px;
    height: 180px;
    position:relative; /* or fixed or absolute */
    background: #ccc url("/images/default-avatar.png") no-repeat center;
    background-size: 100%;
    margin: 0 auto;
}
.cropControls i {
    background-image: url("/images/cropperIcons.png");
}